<div class="container" >
    <div class="row">

        <div class="col col-100 col-card">
            <h2>Burn Products</h2>
        </div>



        <div class="col col-50 col-sm-100 col-card">
            <div class="card-box phenomenon">
                <p>Track phenomenon (for DEV use only)</p>
                <div class="mainP">
                    <button mat-button (click)=" phenomenon = !phenomenon " ><mat-icon>{{ phenomenon ? 'lock_open':'lock'}}</mat-icon></button>
                    <span class="divide"></span>
                    <div class="subP">
                    <div class="subnP">
                    <input placeholder="Key" #kX [disabled]="!phenomenon" />
                    <input placeholder="Query" #qX [disabled]="!phenomenon" />
                    <input placeholder="Value" #vX [disabled]="!phenomenon" />
                    </div>
                        TRACKING ? <ng-container *ngIf="auth.user$ | async as mine">{{mine.name}} {{mine.uid}}</ng-container>
                    </div>
                    <span class="divide"></span>
                    <button mat-button (click)=" startSearch(false, kX.value, qX.value, vX.value ) " [disabled]="!phenomenon" ><mat-icon>key</mat-icon></button>
                </div>
            </div>
        </div>

        <div class="col col-50 col-sm-100 col-card">
            <div class="card-box finder">
                <p>Find Store by Phone or Email</p>
                <div style="display: flex;">
                <button mat-button (click)=" searchType = 'last'; execute(); " ><mat-icon>{{ searchType == 'last' ? 'check_circle' : 'radio_button_unchecked'}}</mat-icon> Latest</button>
                <!--button mat-button (click)=" searchType = 'phone' " ><mat-icon>{{ searchType == 'phone' ? 'check_circle' : 'radio_button_unchecked'}}</mat-icon> Phone</button>
                <button mat-button (click)=" searchType = 'email' " ><mat-icon>{{ searchType == 'email' ? 'check_circle' : 'radio_button_unchecked'}}</mat-icon> Email</button-->
                <button mat-button (click)=" searchType = 'id' " ><mat-icon>{{ searchType == 'id' ? 'check_circle' : 'radio_button_unchecked'}}</mat-icon> PID</button>
                <span class="divide"></span>

                </div>
            </div>
        </div>

        <div class="col col-100 col-sm-100 col-card">
            <mat-form-field appearance="standard">
                <mat-label>Find {{searchType == 'last' ? 'in':'by'}} {{searchType == 'last' ? 'Latest':''}}{{searchType == 'id' ? 'Store ID':''}}</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Universal Search" #input>
                <button mat-icon-button matSuffix *ngIf="searchType !== 'last' " (click)="startSearch(true, searchType, '==', input.value)" ><mat-icon>search</mat-icon></button>
                <button mat-icon-button matSuffix *ngIf="searchType == 'last' " ><mat-icon>category</mat-icon></button>
                <button mat-icon-button matSuffix *ngIf="searchType == 'last' " ><mat-icon>rule</mat-icon></button>
            </mat-form-field>
            <div class="card-box">
                <table mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="iconMode"> ID </th>
                        <td mat-cell *matCellDef="let row" class="iconMode"> <button mat-icon-button (click)="auth.resource.copyClipboard(row.id)"><mat-icon>content_copy</mat-icon></button> </td>
                    </ng-container>

                    <!-- title Column -->
                    <ng-container matColumnDef="title">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                        <td mat-cell *matCellDef="let row"> <p>{{row.title | slice:0:30}}{{row.title.length > 30 ? '...':''}}</p>{{row.category}}</td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="flash">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="iconMode textC"> Flash </th>
                        <td mat-cell *matCellDef="let row" class="textC">
                            <ng-container *ngIf="row.burn">
                            <mat-slide-toggle class="togglePad" color="primary" [(ngModel)]="row.flash" [disabled]="makingChanges" (change)=" flashSale(row.id, row.flash) " name="flash"></mat-slide-toggle>
                            </ng-container>
                        </td>
                    </ng-container>


                    <!-- User Column -->
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
                        <td mat-cell *matCellDef="let row"> {{row.price/row.cost * 100 | number:'1.0-0'}}%</td>
                    </ng-container>

                    <!-- User Column -->
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
                        <td mat-cell *matCellDef="let row"> ₹{{row.cost}} </td>
                    </ng-container>

                    <!-- User Column -->
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
                        <td mat-cell *matCellDef="let row"> {{row.code}} </td>
                    </ng-container>

                    <!-- Store Column -->
                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="iconMode"> Product </th>
                        <td mat-cell *matCellDef="let row" class="iconMode"> <a mat-icon-button [routerLink]=" '/store/product/' + row.id " ><mat-icon>edit</mat-icon></a> </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
                <app-spinner *ngIf="!dataSource"></app-spinner>
                <mat-paginator [pageSizeOptions]="[10, 25, 50]" aria-label="Select page of users"></mat-paginator>
            </div>

        </div>

    </div>
</div>