<div class="container">
    <div class="row">
<!--
        <div class="col col-25 col-sm-40 col-card">
            <div class="card-box">
                <p>Burn Products</p>
                <h2>0</h2>
            </div>
        </div>

        <div class="col col-25 col-sm-60 col-card">
            <div class="card-box">
                <p>Burn Orders</p>
                <h2>0</h2>
            </div>
        </div>

        <div class="col col-25 col-sm-50 col-card">
            <div class="card-box">
                <p>XXX</p>
                <h2>0</h2>
            </div>
        </div>

        <div class="col col-25 col-sm-50 col-card">
            <div class="card-box">
                <p>XXX</p>
                <h2>0</h2>
            </div>
        </div>
    -->


        <div class="col col-25 col-sm-50 dashStats">
            <div class="card-stats b_white">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon b_primary c_white">
                        <mat-icon>manage_accounts</mat-icon>
                    </div>
                    <p class="card-category">Burn Products</p>
                    <h3 class="card-title">0</h3>
                </div>
                <div class="card-footer">
                    <div class="stats c_primary">
                        <mat-icon>launch</mat-icon>&nbsp;
                        <a class="c_primary" [routerLink]=" '/burn-list' ">List Products</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col col-25 col-sm-50 dashStats">
            <div class="card-stats b_white">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon b_primary c_white">
                        <mat-icon>manage_accounts</mat-icon>
                    </div>
                    <p class="card-category">Burn Catagory</p>
                    <h3 class="card-title">0</h3>
                </div>
                <div class="card-footer">
                    <div class="stats c_primary">
                        <mat-icon>launch</mat-icon>&nbsp;
                        <a class="c_primary" [routerLink]=" '/burn-catagory' ">List Catagory</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col col-25 col-sm-50 dashStats">
            <div class="card-stats b_white">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon b_primary c_white">
                        <mat-icon>manage_accounts</mat-icon>
                    </div>
                    <p class="card-category">Burn Requests</p>
                    <h3 class="card-title">0</h3>
                </div>
                <div class="card-footer">
                    <div class="stats c_primary">
                        <mat-icon>launch</mat-icon>&nbsp;
                        <a class="c_primary" [routerLink]=" '/burn-requests' ">List Requests</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="col col-25 col-sm-50 dashStats">
            <div class="card-stats b_white">
                <div class="card-header card-header-warning card-header-icon">
                    <div class="card-icon b_primary c_white">
                        <mat-icon>manage_accounts</mat-icon>
                    </div>
                    <p class="card-category">Burn Orders</p>
                    <h3 class="card-title">0</h3>
                </div>
                <div class="card-footer">
                    <div class="stats c_primary">
                        <mat-icon>launch</mat-icon>&nbsp;
                        <a class="c_primary" [routerLink]=" '/burn-orders' ">List Orders</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>